# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/storybook-static
/public/storybook/*
/public/storybook/static/
/public/storybook/5caca4519da8100cbe4e.png
/public/storybook/14cc85b1652bbe1956b0.woff
/public/storybook/51.81ad83ad.iframe.bundle.js
/public/storybook/51.81ad83ad.iframe.bundle.js.LICENSE.txt
/public/storybook/51.4719d1ed5958946358b5.manager.bundle.js
/public/storybook/51.4719d1ed5958946358b5.manager.bundle.js.LICENSE.txt
/public/storybook/229.aff0ba2f2249d75f5b1b.manager.bundle.js
/public/storybook/229.f5dee293.iframe.bundle.js
/public/storybook/292.4b6d9c476881d9e2b54f.manager.bundle.js
/public/storybook/292.4b6d9c476881d9e2b54f.manager.bundle.js.LICENSE.txt
/public/storybook/295.67020dc3f3566aaf698d.manager.bundle.js
/public/storybook/451bc7a00c6012ea1697.woff2
/public/storybook/551.4a625b02.iframe.bundle.js
/public/storybook/551.416d281328c1758d9a28.manager.bundle.js
/public/storybook/701.40e629c8.iframe.bundle.js
/public/storybook/733.6167b51b.iframe.bundle.js
/public/storybook/733.6167b51b.iframe.bundle.js.LICENSE.txt
/public/storybook/745.4d6f3e4d.iframe.bundle.js
/public/storybook/807.32e6b3d6.iframe.bundle.js
/public/storybook/807.32e6b3d6.iframe.bundle.js.LICENSE.txt
/public/storybook/807.e42d1ce1f5a51f1387c7.manager.bundle.js
/public/storybook/807.e42d1ce1f5a51f1387c7.manager.bundle.js.LICENSE.txt
/public/storybook/897.3281ab2b4aa56b3a1b76.manager.bundle.js
/public/storybook/897.3281ab2b4aa56b3a1b76.manager.bundle.js.LICENSE.txt
/public/storybook/897.f0f1b0d3.iframe.bundle.js
/public/storybook/897.f0f1b0d3.iframe.bundle.js.LICENSE.txt
/public/storybook/935.2da5cc9fc627d9427ad4.manager.bundle.js
/public/storybook/935.cf78b273.iframe.bundle.js
/public/storybook/d5d60cee219141233575.woff2
/public/storybook/ed4200238244812b68e8.woff
/public/storybook/f01b27968a2e0af85897.png
/public/storybook/favicon.ico
/public/storybook/iframe.html
/public/storybook/index.html
/public/storybook/main.8ff9aff6.iframe.bundle.js
/public/storybook/main.2904c66106299f1728ad.manager.bundle.js
/public/storybook/manifest.json
/public/storybook/project.json
/public/storybook/robots.txt
/public/storybook/runtime~main.9f8e14291f91f3ef2ccb.manager.bundle.js
/public/storybook/runtime~main.482696c5.iframe.bundle.js
